*{
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
}

.loginButton,.registerButton,.checkoutBtn{
  border: 1px solid green;
  background-color: rgba(32, 141, 218, 0.658);
  padding: 6px;
  width: 80%;
  border-radius: 10px;
}
.addCart{
  border: 1px solid green;
  background-color: rgba(32, 141, 218, 0.658);
  padding: 6px;
  border-radius: 10px;
}
h1{
  font-family: 'Raleway', sans-serif;
  height: 15vh;
}

.loginLink{
  text-decoration: none;
  color: #41464bfc;
}



